body {
    color: white;
}

.choice-container {
    display: flex;
    margin-bottom:0.8rem;
    width: 100%;
    border-radius:3px;
    background:blue;
    font-size: 2.5rem;
    min-width: 75rem;
}

.choice-prefix {
padding: 2rem 2.5rem;
color: white;
}

.choice-text {
    padding: 2rem;
    width: 100%;

}

.correct {
    background: linear-gradient(30deg, green);
}

.incorrect {
        background: linear-gradient(30deg, red);
}

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: .2rem solid blue;
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: green;
    width: 0%;
}